<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
  </head>
  <body>
    <div class="chat-container" style="display: flex; justify-content: space-evenly;">

      <div style="display: flex; flex-direction: column;">
      <div class="chat-box" id="chat-box">Welcome to COVID BOT</div>
      <input type="text" id="user-input" placeholder="Type your message..." />
    </div>
      <div>
        <button id="send-button">Send</button>
        <button id="reset-button">Reset</button>
      </div>
    <!-- Ajoutez cette div pour afficher la carte -->
    <div id="map" style="height: 00px;"></div>
    <iframe src="{{ url_for('static', filename='map.html') }}" width="100%" height="500"></iframe>  
  </div>

    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>

